{
  "presets": [
    "next/babel",
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
  ]
}
